<div>
    <ng-template #customLoadingTemplate></ng-template>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
    </div>
<div *ngIf="loading==false"></div>
<!--start navbar-->
<nav class="menuAndNotificationNav">
    <div class="mobileContainer d-flex justify-content-between align-items-center">
        <a href="#" data-target="slide-out" class="sidenav-trigger">
            <img src="assets/images/Jms_assets/ic_menu.svg">
        </a>
        <h2>
            Driver Selection
        </h2>
        <a class="notificationsNumberNavIcon">
            <img src="assets/images/Jms_assets/ic_notifications-button.svg">
            <span class="notificationsNumber">
                <span>5</span>
            </span>
        </a>
    </div>
</nav>
<!--end navbar-->

<!--start aside menu-->
<aside id="slide-out" class="sidenav">
    <div class="userInfo">
        <img src="assets/images/Jms_assets/user.svg">
        <h2>Amar Omar</h2>
        <button>
            Product Line
        </button>
    </div>
    <ul>
        <li>
            <img src="assets/images/Jms_assets/ic_plus_black.svg">
            <h3>Initiate Journy</h3>
        </li>
        <li>
            <img src="assets/images/Jms_assets/ic_calendar.svg">
            <h3>Journey Calendar</h3>
        </li>
        <li class="selected">
            <img src="assets/images/Jms_assets/ic_pending_black.svg">
            <h3>Pending Journey</h3>
        </li>
        <li>
            <img src="assets/images/Jms_assets/ic_trip_black.svg">
            <h3>My Requests</h3>
        </li>
    </ul>
</aside>
<!--end aside menu-->

<!--start title section-->
<app-journey-info></app-journey-info>
<!--end title section-->

<!--start search for drivers section-->
<section id="searchInDrivers">
    <div class="mobileContainer">
        <div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <img src="assets/images/Jms_assets/ic_search.svg">
                    </div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                    placeholder="Search Driver" [(ngModel)]="keyword" (ngModelChange)="Search($event)">
            </div>
        </div>
    </div> 
</section>
<!--end search for drivers section-->

<!--start drivers Selections Cards-->
<section id="driversSelectionsCards">
    <div class="mobileContainer">
        <div class="row">
            <!--driver Card (take it from here)-->
            <div *ngFor="let item of Drivers" class="col-6">
                <div class="driverCard">
                    <img src="assets/images/Jms_assets/user.svg" class="driverImg">
                    <h4 class="driverName">{{item.fullName}}</h4>
                    <p class="totalHours">Total driving hours : 17</p>
                    <div class="d-flex justify-content-between isTraining">
                        <p class="status">{{item.trainingDetails}}</p>
                        <!-- <p class="statusDate">27 Apr 2018</p> -->
                    </div>
                    <div class="d-flex justify-content-between licenseInfo">
                        
                        <p class="license">License</p>
                        <p class="licenseNumber">{{item.licenseNo}}</p>
                    </div>
                    <div class="d-flex justify-content-between licenseInfo">
                        <p class="license">License Expiry  Date</p>
                        <p class="licenseNumber">{{item.licenseExpiryDate}}</p>
                        
                    </div>
                    <div class="d-flex justify-content-between vehicles">
                       
                        <p class="vehicleNumber"><input [ngStyle]="requireVclNo(item) &&{'border':'red solid 1px'}" placeholder="Vehicle.No" class="form-control" [(ngModel)]="item.VechNo" />
                        </p>
                      
                    </div>
                    <!-- <div class="d-flex justify-content-between vehicles" *ngIf="slectedDriver!==null&&slectedDriver.id===item.id&&(item.VechNo===null||item.VechNo==='')">
                        <p style="color:red">required</p>    
                      
                    </div> -->
                                       
                    
                    <!-- <p class="gateStauts">Status of gate pass</p> -->
                    <button class="driverStatus" (click)="selectClick(item)">
                        Select
                    </button>
                </div>
            </div>
            <!--driver Card (till here)-->

            
        </div>
    </div>
</section>


