<!--start new password Form Section-->
<section id="newPasswordFormSection">
    <section class="formWrapper">
        <h2>Enter new password</h2>
        <form action="" class="loginForm">

            <div class="input-group mainInputComp">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <img src="assets/images/Jms_assets/ic_pass.svg">
                    </span>
                </div>
                <input type="password" class="form-control" placeholder="Enter new password" aria-label="password">
            </div>
            <div class="input-group mainInputComp">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <img src="assets/images/Jms_assets/ic_pass.svg">
                    </span>
                </div>
                <input type="password" class="form-control" placeholder="Re-enter new password"
                    aria-label="password">
            </div>
            
            <button type="submit">
                Continue
            </button>
        </form>
    </section>
</section>
<!--end new password Form Section-->
