<div>
    <ng-template #customLoadingTemplate></ng-template>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>
<div *ngIf="loading==false"></div>
<section id="forgotPasswordFormSection">
    <section class="formWrapper">
        <h2>New Password</h2>
        <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="input-group mainInputComp">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <img src="assets/images/Jms_assets/ic_pass.svg">
                    </span>
                </div>
                <input type="password" class="form-control" placeholder="Password" aria-label="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
                
            </div>
            <div class="input-group mainInputComp">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <img src="assets/images/Jms_assets/ic_pass.svg">
                    </span>
                </div>
                <input type="password" class="form-control" placeholder="Confitm Password" aria-label="Confitm Password" formControlName="confirmpassword" [ngClass]="{ 'is-invalid': submitted &&( f.confirmpassword.errors ||showConfirmError()) }">
                <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmpassword.errors.required">Password is required</div>
                </div>
                <div class="invalid-feedback" *ngIf="submitted && showConfirmError()">
                    Password does not match</div>
                
            </div>
           

            

            <button type="submit">
                Send Request
            </button>
        </form>
    </section>
</section>