<div>
    <ng-template #customLoadingTemplate></ng-template>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
    </div>
<div *ngIf="loading==false"></div>
<section id="forgotPasswordFormSection">
    <section class="formWrapper">
        <h2>Forgot Password</h2>
        <form  class="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="input-group mainInputComp">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <img src="assets/images/Jms_assets/ic_user.svg">
                    </span>
                </div>
                <input type="email" class="form-control" placeholder="Email Address" aria-label="EmailAddress" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Email(Username) is required</div>
                </div>
            </div>
         
            <p class="forgotPasswordPolicy">
                Is your company already using JESI and you don't have a login ?
            </p>

            <button type="submit">
                Send Request
            </button>
        </form>
    </section>
</section>