<!--start requests Cards-->
<div class="mobileContainer">
    <h2 class="text-center mainHeadSection">My Requests</h2>

    <div class="myRequestsComp" *ngFor="let request of requests">
        <div class="request">
            <h3>{{request.journeyTitle}}</h3>
            <div class="info">
                <h6>From:</h6>
                <p>{{request.fromDestination}}</p>
            </div>
            <div class="info">
                <h6>To:</h6>
                <p>{{request.toDestination}}</p>
            </div>
            <div class="info">
                <h6>Creation Date:</h6>
                <p>{{request.creationDate | date:'dd/mm/yyyy - hh:mm a'}}</p>
            </div>
            <div class="info">
                <h6>Delivery Date:</h6>
                <p> {{request.deliveryDate | date:'dd/mm/yyyy'}}</p>
            </div>
            <div class="info">
                <h6>Status:</h6>
                <p> {{request.status}}</p>
            </div>

            <button class="mainButtonStyle" (click)="navigateToRequest(request)">
                View Request
            </button>
            <a class="mainButtonStyle" href="/journeymontoring?journeyId={{request.journeyId}}">
                View Journey Updates
            </a>
        </div>
    </div>
</div>
<!--end requests Cards-->