*, body, ul, li, h1, h2, h3, h4, h5, h6, p, input, label, ol {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
input:focus,
input:active,
input:focus-within,
textarea,
textarea:focus,
textarea:active,
textarea:focus-within,
select,
select:focus,
select:active,
select:focus-within {
  outline: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

button,
button:focus,
button:active,
button:focus-within {
  outline: none;
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

.mobileContainer {
  margin: 0 25px;
}

.mainContainer {
  max-width: 990px;
  margin: auto;
}

@font-face {
  font-family: lato;
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: latoBold;
  src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: Quicksand;
  src: url(../fonts/Quicksand-Regular.otf);
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: MontserratLight;
  src: url(../fonts/Montserrat-Light.ttf);
}

@font-face {
  font-family: lato;
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: latoBold;
  src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: Quicksand;
  src: url(../fonts/Quicksand-Regular.otf);
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: MontserratLight;
  src: url(../fonts/Montserrat-Light.ttf);
}

.logoNav {
  text-align: center;
  padding: 10px;
  background-color: #FFF;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
  height: auto;
}

.logoNav img {
  width: 157px;
  height: 56px;
}

.menuAndNotificationNav {
  background-color: #FFF;
  height: auto;
  padding: 10px 0;
  line-height: 1px;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.menuAndNotificationNav a {
  display: block;
}

.menuAndNotificationNav h2 {
  color: #494949;
  font-size: 20px;
  font-family: 'lato';
  margin: 16px 0;
  font-weight: bold;
}

.menuAndNotificationNav a.sidenav-trigger {
  position: static;
  float: none;
  height: auto;
  margin: 0;
  z-index: auto;
  display: block !important;
}

.menuAndNotificationNav a.sidenav-trigger img {
  border-radius: 5px;
}

.notificationsNumberNavIcon {
  position: relative;
}

.notificationsNumberNavIcon .notificationsNumber {
  position: absolute;
  bottom: 3px;
  right: -6px;
}

.notificationsNumberNavIcon .notificationsNumber span {
  border-radius: 50%;
  background-color: #F5A622;
  padding: 3px 6px;
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
}

.mainHeadSection {
  font-family: Montserrat;
  margin: 25px 0;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 30px;
  color: #666;
}

.sidenav {
  width: 282px;
}

.sidenav .userInfo {
  background-color: #19BC9C;
  height: 282px;
  text-align: center;
}

.sidenav .userInfo img,
.sidenav .userInfo button {
  margin: 25px 0;
}

.sidenav .userInfo button {
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  background-color: transparent;
  font-size: 16px;
  color: #FFF;
  padding: 5px 15px;
}

.sidenav .userInfo h2 {
  color: #FFF;
  line-height: 32px;
}

.sidenav ul li {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidenav ul li img {
  margin: 5px 15px 0 15px;
  width: 23px;
  height: 23px;
}

.sidenav ul li h3 {
  font-size: 18px;
  color: #0AA699;
  letter-spacing: 1px;
  line-height: 32px;
}

.sidenav ul li.selected h3 {
  color: #575757;
}

.mainButtonStyle, .formWrapper button[type='submit'] {
  width: 100%;
  border: 0;
  padding: 10px 0;
  border-radius: 7px;
  background-color: #17BC9B;
  font-family: lato;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  margin-top: 30px;
}

.formWrapper {
  background-color: #FFF;
  padding: 35px 20px;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
  border-radius: 2px;
  text-align: center;
}

.formWrapper h2 {
  font-size: 18px;
  color: #3D3B3B;
  font-weight: bold;
  margin-bottom: 20px;
}

.mainInputComp {
  margin: 20px 0;
}

.mainInputComp .input-group-prepend .input-group-text,
.mainInputComp input.form-control {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #979797;
  padding: 0;
}

.mainInputComp .input-group-prepend .input-group-text {
  background-color: transparent;
  margin: 0;
  padding-right: 10px;
}

.mainInputComp .input-group-prepend .input-group-text img {
  width: 14px;
  height: 14px;
  color: black;
}

.mainInputComp input.form-control,
.mainInputComp input.form-control::-webkit-input-placeholder,
.mainInputComp input.form-control::-webkit-input-placeholder {
  color: #979797;
  font-family: lato;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.36px;
  line-height: 18px;
}

.mainInputComp input.form-control,
.mainInputComp input.form-control::-webkit-input-placeholder,
.mainInputComp input.form-control::placeholder {
  color: #979797;
  font-family: lato;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.36px;
  line-height: 18px;
}

ul.collapsible {
  border: 0;
  margin: 20px 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

ul.collapsible:first-of-type {
  margin-top: 40px;
}

ul.collapsible > li {
  margin: 20px 0;
  border: 0;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

ul.collapsible .collapsible-header {
  background-color: #006FAD !important;
  color: #FFF !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

ul.collapsible .collapsible-header p {
  font-size: 15px;
  letter-spacing: -0.36px;
  line-height: 18px;
}

ul.collapsible .collapsible-header img {
  background-color: #FFF;
  padding: 8px 5px 5px 5px;
}

ul.collapsible .collapsible-body {
  padding: 0 20px;
  background-color: #FFF;
  border: 0;
}

body {
  background-color: #EDFCFF;
  font-size: 14px;
  font-family: lato;
}

#loginFormSection {
  margin-top: 120px;
  padding: 0 30px;
}

#loginFormSection .resetPassword {
  margin-top: 30px;
}

#loginFormSection .resetPassword a {
  color: #016FAE;
  font-size: 15px;
  font-weight: 600;
}

#forgotPasswordFormSection {
  margin-top: 120px;
  padding: 0 30px;
}

#forgotPasswordFormSection .forgotPasswordPolicy {
  margin: 40px 0 20px 0;
  text-align: left;
  color: #808080;
  font-size: 13px;
}

#newPasswordFormSection {
  margin-top: 120px;
  padding: 0 30px;
}

#newPasswordFormSection .newPasswordPolicy {
  text-align: left;
  padding: 0  15px;
  color: #808080;
  font-size: 12px;
}

#newPasswordFormSection .newPasswordPolicy li {
  margin: 2px 0;
}

#homePage .sectionHeader {
  margin: 50px 0 20px 0;
  color: #3D3B3B;
  font-size: 24px;
}

#homePage .homePageAction {
  background-color: #ddd;
  margin-top: 25px;
  border-radius: 8px;
  cursor: pointer;
}

#homePage .homePageAction.initJourney {
  background-color: #19BC9C;
}

#homePage .homePageAction.driverSelection {
  background-color: #00447D;
}

#homePage .homePageAction.pendingJourney {
  background-color: #F5A622;
}

#homePage .homePageAction.journeyTrip {
  background-color: #549DDF;
}

#homePage .homePageAction img {
  margin: 20px 0;
}

#homePage .homePageAction h2 {
  font-size: 22px;
  padding: 0 12px 20px 12px;
  color: #FFF;
  font-family: Quicksand;
  font-weight: bold;
}

#titleHere {
  background-color: #FFF;
  padding: 15px;
  margin: 25px 0;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
  border-radius: 5px;
}

#titleHere h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #727272;
}

#titleHere ul li {
  margin: 10px 0;
}

#titleHere ul li:last-of-type {
  margin-bottom: 0;
}

#titleHere ul li img {
  height: 13px;
  width: 10px;
  margin-bottom: 1px;
  margin-right: 5px;
}

#titleHere ul li span {
  color: #979797;
  font-size: 13px;
}

#searchInDrivers .input-group {
  border: 2px solid #979797;
  border-radius: 5px;
}

#searchInDrivers .input-group .input-group-text {
  background-color: transparent;
  border: 0;
}

#searchInDrivers .input-group input {
  border: 0;
  background-color: transparent;
}

#searchInDrivers .input-group input.form-control::-webkit-input-placeholder {
  font-family: lato;
  line-height: 32px;
  font-size: 13px;
}

#searchInDrivers .input-group input.form-control:-ms-input-placeholder {
  font-family: lato;
  line-height: 32px;
  font-size: 13px;
}

#searchInDrivers .input-group input.form-control::-ms-input-placeholder {
  font-family: lato;
  line-height: 32px;
  font-size: 13px;
}

#searchInDrivers .input-group input.form-control::placeholder {
  font-family: lato;
  line-height: 32px;
  font-size: 13px;
}

#driversSelectionsCards {
  margin-top: 10px;
}

#driversSelectionsCards .driverCard {
  background-color: #FFF;
  text-align: center;
  padding: 20px 10px;
  font-size: 11px;
  color: #828282;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
  border-radius: 7px;
  font-weight: 500;
  margin: 10px 0;
}

#driversSelectionsCards .driverCard .driverImg {
  width: 32px;
  height: 32px;
}

#driversSelectionsCards .driverCard .driverName {
  font-size: 15px;
  font-weight: bold;
  color: #686868;
}

#driversSelectionsCards .driverCard .driverName,
#driversSelectionsCards .driverCard .totalHours,
#driversSelectionsCards .driverCard .isTraining,
#driversSelectionsCards .driverCard .licenseInfo,
#driversSelectionsCards .driverCard .vehicles,
#driversSelectionsCards .driverCard .gateStauts {
  margin: 10px 0;
}

#driversSelectionsCards .driverCard .driverStatus {
  color: #FFAB2B;
  background-color: rgba(255, 171, 43, 0.1);
  padding: 5px 10px;
  font-size: 9px;
  border: 0;
}

.initiateJourney ul.collapsible .collapsible-body {
  color: #979797;
}

.initiateJourney ul.collapsible .collapsible-body {
  padding: 15px 20px;
}

.initiateJourney ul.collapsible .collapsible-body .mainInputComp {
  margin: 15px 0;
}

.initiateJourney ul.collapsible .collapsible-body .mainInputComp:first-of-type {
  margin: 0;
}

.initiateJourney ul.collapsible .collapsible-body .mainInputComp .input-group-prepend .input-group-text {
  padding: 0;
}

.initiateJourney ul.collapsible .collapsible-body .mainInputComp input::-webkit-input-placeholder,
.initiateJourney ul.collapsible .collapsible-body .radioButtonsGroup label {
  font-size: 14px;
}

.initiateJourney ul.collapsible .collapsible-body .mainInputComp input:-ms-input-placeholder,
.initiateJourney ul.collapsible .collapsible-body .radioButtonsGroup label {
  font-size: 14px;
}

.initiateJourney ul.collapsible .collapsible-body .mainInputComp input::-ms-input-placeholder,
.initiateJourney ul.collapsible .collapsible-body .radioButtonsGroup label {
  font-size: 14px;
}

.initiateJourney ul.collapsible .collapsible-body .mainInputComp input::placeholder,
.initiateJourney ul.collapsible .collapsible-body .radioButtonsGroup label {
  font-size: 14px;
}

.initiateJourney ul.collapsible .collapsible-body .radioButtonsGroup > p {
  font-weight: bold;
  font-size: 15px;
}

.initiateJourney ul.collapsible .collapsible-body .initiateJourneyMap {
  background-color: #4385F5;
}

.initiateJourney ul.collapsible .collapsible-body .initiateJourneyMap .autoCompLocations {
  padding: 15px;
}

.initiateJourney ul.collapsible .collapsible-body .initiateJourneyMap .autoCompLocations .row {
  margin-top: 10px;
}

.initiateJourney ul.collapsible .collapsible-body .initiateJourneyMap .autoCompLocations .row:first-of-type {
  margin-top: 0;
}

.initiateJourney ul.collapsible .collapsible-body .initiateJourneyMap .inputsIcons {
  position: relative;
  text-align: center;
}

.initiateJourney ul.collapsible .collapsible-body .initiateJourneyMap .inputsIcons > div {
  position: absolute;
  top: 70%;
  left: 40%;
}

.initiateJourney ul.collapsible .collapsible-body .initiateJourneyMap .inputsSection {
  padding-left: 0;
}

.initiateJourney ul.collapsible .collapsible-body .initiateJourneyMap .inputsSection input {
  border: 0;
  border-bottom: 1px solid #FFF;
  background-color: transparent;
  width: 100%;
  color: #fff;
  font-size: 13px;
  padding-bottom: 2px;
}

.initiateJourney ul.collapsible .collapsible-body .initiateJourneyMap .inputsSection input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
}

.initiateJourney ul.collapsible .collapsible-body .initiateJourneyMap .inputsSection input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
}

.initiateJourney ul.collapsible .collapsible-body .initiateJourneyMap .inputsSection input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
}

.initiateJourney ul.collapsible .collapsible-body .initiateJourneyMap .inputsSection input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
}

.initiateJourney ul.collapsible .collapsible-body .initiateJourneyMap .addNewDestination input {
  border-bottom: 0;
}

.initiateJourney ul.collapsible .collapsible-body form {
  margin: 15px 0;
}

.initiateJourney ul.collapsible .collapsible-body .radioButtonsGroup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.initiateJourney ul.collapsible .collapsible-body .submitAssessment {
  background-color: #5BABFF;
  width: 100%;
  border: 0;
  border-radius: 7px;
  padding: 10px 0;
}

.initiateJourney ul.collapsible .collapsible-body .submitAssessment img {
  height: 23px;
  width: 23px;
}

.initiateJourney ul.collapsible .collapsible-body .submitAssessment span {
  font-size: 15px;
  color: #FFF;
  margin: 0 10px;
}

.initiateJourney ul.collapsible .collapsible-body .addAssessment {
  margin: 10px 0 25px 0;
  color: #828282;
}

.initiateJourney ul.collapsible .collapsible-body .addAssessment .questionCont {
  padding-right: 0;
}

.initiateJourney ul.collapsible .collapsible-body .addAssessment .question {
  background-color: #f3f3f3;
  height: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.initiateJourney ul.collapsible .collapsible-body .addAssessment .actions {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.initiateJourney ul.collapsible .collapsible-body .addAssessment .actions li {
  background-color: #f3f3f3;
  padding: 5px 0;
  border-radius: 5px;
}

.initiateJourney ul.collapsible .collapsible-body .addAssessment .actions li img {
  width: 10px;
  height: 14px;
}

.initiateJourney [type="radio"]:not(:checked) + span, .initiateJourney [type="radio"]:checked + span {
  padding-left: 25px;
}

.sumbitToInitiate, .journeyApproval .changeDriver {
  width: 100%;
  text-align: center;
  background-color: #17BC9B;
  border: 0;
  color: #FFF;
  font-size: 15px;
  line-height: 18px;
  font-weight: 900;
  padding: 15px 0;
  margin-bottom: 20px;
  border-radius: 7px;
}

#notifications {
  margin: 25px 0;
}

#notifications .notification {
  background-color: #FFF;
  border: 1px solid #ededed;
  padding: 15px 0;
}

#notifications .notification.notRead {
  background-color: #D2F7FF;
}

#notifications .notification:first-of-type {
  margin: 15px 0;
}

#notifications .mobileContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#notifications .notification .notContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#notifications .notification .notContainer .notificationIcon {
  width: 29px;
  height: 29px;
  margin-right: 15px;
}

#notifications .notification .notContainer .notificationDesc .notificationName {
  color: #424242;
  font-size: 13px;
  font-weight: 600;
}

#notifications .notification .notContainer .notificationDesc .notificationDestination {
  color: #828282;
  font-size: 12px;
}

#notifications .notification .notificationDate {
  font-size: 12px;
  color: #C0C0C0;
  font-weight: bold;
}

#notifications .notification.notRead .notificationDate {
  color: #6AC6D9;
}

.assessments ul li {
  margin-bottom: 40px;
}

.assessments ul li .collapsible-body {
  padding: 0;
}

.assessments ul li .collapsible-body p {
  color: #979797;
  font-family: Lato;
  font-size: 15px;
  padding: 25px;
}

.assessments ul li .collapsible-body .answer {
  text-align: center;
}

.assessments ul li .collapsible-body .answer button {
  width: 49.4%;
  border: 0;
  background-color: #48CBC3;
  color: #FFF;
  font-size: 17px;
  font-weight: bold;
  padding: 3px;
}

.assessments ul li .collapsible-body .answer button:last-of-type {
  background-color: #CA6C6C;
}

.myRequestsComp {
  background-color: #FFF;
  margin: 20px 0;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
  padding: 15px;
}

.myRequestsComp .request h3 {
  color: #508DB0;
  padding: 10px 0;
  border-bottom: 1px solid #DDD;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
}

.myRequestsComp .request .info {
  margin: 10px 0;
}

.myRequestsComp .request .info h6 {
  color: #A5B0C2;
  padding: 10px 0;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'MontserratLight', sans-serif;
}

.myRequestsComp .request .info p {
  font-family: "Segoe UI",Roboto,"Helvetica Neue";
  font-size: 13px;
  color: #555;
}

.myRequestsComp .request .mainButtonStyle, .myRequestsComp .request .formWrapper button[type='submit'], .formWrapper .myRequestsComp .request button[type='submit'] {
  margin-top: 0;
}

.journeyApproval ul .collapsible-body {
  padding: 0;
}

.journeyApproval .collapsible-body .detail {
  border-bottom: 1px solid #DDD;
  padding: 10px 15px;
}

.journeyApproval .collapsible-body .detail .col-3 {
  padding-left: 0;
}

.journeyApproval .collapsible-body .detail:last-of-type {
  border-bottom: 0;
}

.journeyApproval .collapsible-body .detail img {
  margin-right: 10px;
}

.journeyApproval .collapsible-body .detail h3,
.journeyApproval .collapsible-body .detail p {
  display: inline;
  color: #979797;
  font-size: 14px;
}

.journeyApproval .collapsible-body .detail h3 {
  font-weight: bold;
}

.journeyApproval .collapsible-body .detail p {
  font-size: 13px;
}

.journeyApproval .drivAss .detail p {
  margin: 10px 0;
  display: block;
}

.journeyApproval .collapsible-body .detail .yes, .journeyApproval .collapsible-body .detail .no {
  width: 100%;
  margin: 10px 0;
  border: 0;
  background-color: #48CBC3;
  border-radius: 5px;
  padding: 5px;
  color: #FFF;
}

.journeyApproval .collapsible-body .detail .no {
  background-color: #CA6C6C;
}

.journeyApproval .changeDriver {
  background-color: #AFAFAF;
}

.journeyMonitoring .point {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #979797;
  font-family: Lato;
  padding: 15px 0;
}

.journeyMonitoring .point .time {
  font-size: 11px;
  font-weight: bold;
}

.journeyMonitoring .point img {
  width: 37px;
  height: 37px;
}

.journeyMonitoring .point:first-of-type img {
  width: 30px;
  height: 30px;
}

.journeyMonitoring .point .info {
  font-size: 13px;
}

.journeyMonitoring .point:first-of-type .info,
.journeyMonitoring .point:last-of-type .info {
  font-weight: bold;
}

.myJourneyMap {
  height: 175px;
  border-radius: 8px;
  margin: 30px 0;
}

.driverAndTripInfo {
  background-color: #FFF;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
  margin-bottom: 30px;
  padding: 15px;
}

.driverAndTripInfo .nameAndDestination {
  margin: 20px 0;
}

.driverAndTripInfo .nameAndDestination h3 {
  color: #4F8DB0;
  font-size: 17px;
  font-weight: bold;
}

.driverAndTripInfo .nameAndDestination p {
  color: #8D8D8D;
  font-size: 14px;
  font-weight: bold;
}

.driverAndTripInfo .teamAndPassengers {
  margin: 20px 0;
}

.driverAndTripInfo .teamAndPassengers .key {
  color: #ABB6C6;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.driverAndTripInfo .teamAndPassengers .val {
  color: #8F8F8F;
  font-weight: bold;
  font-size: 14px;
}

.driverAndTripInfo .journeyInfo li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.driverAndTripInfo .journeyInfo li.infoWithNoDesc {
  margin: 25px 0;
}

.driverAndTripInfo .journeyInfo li .info h4 {
  color: #8F8F8F;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
}

.driverAndTripInfo .journeyInfo li .info p {
  color: #C1CAD5;
  font-size: 12px;
  font-weight: bold;
}

.driverAndTripInfo .journeyInfo li button {
  padding: 5px 15px;
  border: 0;
  color: #FFF;
  background-color: #17BC9B;
  border-radius: 5px;
}

.driverAndTripInfo .journeyInfo li button.notActive {
  color: #999;
  background-color: #D0D0D0;
}

.cheackInSection {
  background-color: #FFF;
  border-radius: 7px;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.cheackInSection .infoAndCheckCont {
  border-bottom: 1px solid #DDD;
  padding: 20px 15px;
}

.cheackInSection .infoAndCheckCont .info h3 {
  font-size: 16px;
  font-weight: bold;
  color: #555;
}

.cheackInSection .infoAndCheckCont .info h3 span {
  color: #17BC9B;
}

.cheackInSection .infoAndCheckCont .info p {
  font-size: 13px;
  line-height: 18px;
  color: #979797;
  margin-top: 10px;
}

.cheackInSection .infoAndCheckCont .checkInBtn {
  border: 2px solid #00ADEE;
  border-radius: 8px;
  background-color: transparent;
  padding: 10px 5px;
}

.cheackInSection .infoAndCheckCont .checkInBtn p {
  line-height: 15px;
  color: #00ADEE;
  font-size: 14px;
  font-weight: bold;
}

.cheackInSection .buttonsAndPopUpsCont {
  padding: 15px;
}

.cheackInSection .modalAndBtnCont {
  padding: 0 15px;
  margin: 10px 0;
  width: 50%;
}

.cheackInSection .modalAndBtnCont button {
  width: 80%;
}

@media only screen and (max-width: 500px) {
  .cheackInSection .modalAndBtnCont {
    padding: 0 8px;
    margin: 10px 0;
  }
  .cheackInSection .modalAndBtnCont button {
    width: 100%;
  }
}

.cheackInSection .modalAndBtnCont .modalTrigger,
.cheackInSection .modalAndBtnCont .modalTrigger:visited,
.cheackInSection .modalAndBtnCont .modalTrigger:active,
.cheackInSection .modalAndBtnCont .modalTrigger:focus,
.cheackInSection .modalAndBtnCont .modalTrigger:focus-within {
  height: 100%;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 0 !important;
  border-color: transparent !important;
  border-radius: 8px;
}

.cheackInSection .modalAndBtnCont .modalTrigger.sendLocation {
  background-color: #17BC9B;
}

.cheackInSection .modalAndBtnCont .modalTrigger.statusMessages {
  background-color: #8EC1EB;
}

.cheackInSection .modalAndBtnCont .modalTrigger.sendAlert {
  background-color: #F5A622;
}

.cheackInSection .modalAndBtnCont .modalTrigger.callPhone {
  background-color: #00447D;
}

.cheackInSection .modalAndBtnCont .modalTrigger.pauseJourney {
  background-color: #9EB4C6;
}

.cheackInSection .modalAndBtnCont .modalTrigger.closeJourney {
  background-color: #DE4D46;
}

.cheackInSection .modalAndBtnCont .modalTrigger img {
  width: 25px;
  height: 25px;
  margin: 10px 0;
}

.cheackInSection .modalAndBtnCont .modalTrigger p {
  font-size: 12px;
  font-family: Montserrat;
  font-weight: bold;
  margin-bottom: 5px;
}
/*# sourceMappingURL=main.css.map */