
<!--start title section-->

<app-journey-info></app-journey-info>

<!--end title section-->

<!-- <div class="mobileContainer">
  <div class="map" style="height: 140px;background-color: #DDD;padding: 20px;">
      MAP
  </div>
</div> -->

<!--start assessments Section-->
<div class="mobileContainer assessments">
  <ul class="collapsible expandable">

      <li class="active" *ngIf='showPretripAssessment()'>
          <div class="collapsible-header">
              <p>Driver Assessments</p>
              <img src="assets/images/Jms_assets/ic_right_arrow.svg">
          </div>
          <div class="collapsible-body" style="display:block">
              <div class="question" *ngFor="let item of pretripassessments">
                  <p>{{item.question}}</p>
                  <div class="answer">
                    <button style="background-color: #48CBC3;" (click)="SelectAnswer(item,true)" *ngIf="item.IsYes==undefined||item.IsYes">YES</button>
                    <button style="background-color: #CA6C6C;"  (click)="SelectAnswer(item,false)" *ngIf="item.IsYes==undefined||!item.IsYes"> NO</button>
                  </div>
              </div>

             
          </div>
      </li>
      <li class="active" *ngIf='showPosttripAssessment()'>
        <div class="collapsible-header">
            <p>Driver Post Trip Assessments</p>
            <img src="assets/images/Jms_assets/ic_right_arrow.svg">
        </div>
        <div class="collapsible-body" style="display:block">
            <div class="question" *ngFor="let item of posttripassessments">
                <p>{{item.question}}</p>
                <div class="answer">
                  <button style="background-color: #48CBC3;" (click)="SelectAnswer(item,true)" *ngIf="item.IsYes==undefined||item.IsYes">YES</button>
                  <button style="background-color: #CA6C6C;"  (click)="SelectAnswer(item,false)" *ngIf="item.IsYes==undefined||!item.IsYes"> NO</button>
                </div>
            </div>

           
        </div>
    </li>
    <li class="active" *ngIf='showCheckpointAssessment()'>
      <div class="collapsible-header">
          <p>Check Point Assessments</p>
          <img src="assets/images/Jms_assets/ic_right_arrow.svg">
      </div>
      <div class="collapsible-body" style="display:block">
          <div class="question" *ngFor="let item of checkpointassessments">
              <p>{{item.question}}</p>
              <div class="answer">
                <button style="background-color: #48CBC3;" (click)="SelectAnswer(item,true)" *ngIf="item.IsYes==undefined||item.IsYes">YES</button>
                <button style="background-color: #CA6C6C;"  (click)="SelectAnswer(item,false)" *ngIf="item.IsYes==undefined||!item.IsYes"> NO</button>
              </div>
          </div>

         
      </div>
  </li>

      <li class="active" *ngIf='showSubmit()'>
          <div class="collapsible-header">
              <p>Vehichle Assessments</p>
              <img src="assets/images/Jms_assets/ic_right_arrow.svg">
          </div>
          <div class="collapsible-body" style="display:block">
              <div class="question" *ngFor="let item of vechCheckList">
                  <p>{{item.question}}</p>
                  <div class="answer">
                      <button style="background-color: #48CBC3;"  (click)="SelectAnswer(item,true)" *ngIf="item.IsYes==undefined||item.IsYes">YES</button>
                      <button style="background-color: #CA6C6C;"  (click)="SelectAnswer(item,false)" *ngIf="item.IsYes==undefined||!item.IsYes"> NO</button>
                  </div>
              </div>

              

              
          </div>
      </li>
      <!--end assessments Section-->
  </ul>
  <button class="sumbitToInitiate" *ngIf='showSubmit()' (click)="Submit()">
      Submit
  </button>
</div>
