<div *ngIf="loading==false">
<form name="form" #form="ngForm" (ngSubmit)="onSubmit(form)" autocomplete="off" novalidate>
<!-- <input type="hidden" name="ID" #Id="ngModel" [(ngModel)]="formData.Id" /> -->

<div class="mobileContainer">
  <section id="titleHere">
      <h3>Title Here</h3>
      <ul>
          <li>
              <img src="assets/images/Jms_assets/ic_pin.svg">
              <span>Destination From: Alex</span>
          </li>
          <li>
              <img src="assets/images/Jms_assets/ic_pin.svg">
              <span>Destination To: Cairo</span>
          </li>
          <li>
              <img src="assets/images/Jms_assets/ic_calendar.svg">
              <span>Date Of Delivery: 20/12/2020</span>
          </li>
      </ul>
  </section>
</div>
<div class="mobileContainer">
  <div class="map" style="height: 140px;background-color: #DDD;padding: 20px;">
      MAP
  </div>
</div>
<div class="mobileContainer assessments">
  <ul class="collapsible expandable">
    <li class="active">
      <div class="collapsible-header">
        <p>PreTrip Assessments</p>
        <img src="assets/images/Jms_assets/ic_right_arrow.svg">
      </div>

      <!-- After Select Driver -->
      <div class="collapsible-body" style="display:block;">
        <div class="question" *ngFor="let preTripAssessment of preTripAssessmentQuestionList">
          <p>{{preTripAssessment.Question}}</p>
          <div class="answer">
            <button (click)="checkAssessmentResult($event)">YES</button>
            <button (click)="checkAssessmentResult($event)">NO</button>
          </div>
        </div>
      </div>
    </li>
    <li class="active">
      <div class="collapsible-header">
        <p>CheckPoint Assessments</p>
        <img src="assets/images/Jms_assets/ic_right_arrow.svg">
      </div>

      <!-- After Each Checkpoint -->
      <div class="collapsible-body">
        <div class="question" *ngFor="let checkPointAssessment of checkPointAssessmentQuestionList">
          <p>{{checkPointAssessment.Question}}</p>
          <div class="answer">
            <button>YES</button>
            <button>NO</button>
          </div>
        </div>
      </div>
    </li>
    <li class="active">
      <div class="collapsible-header">
        <p>PostTrip Assessments</p>
        <img src="assets/images/Jms_assets/ic_right_arrow.svg">
      </div>

      <!-- After Journey Completion -->
      <div class="collapsible-body">
        <div class="question" *ngFor="let postTripAssessment of postTripAssessmentQuestionList">
          <p>{{postTripAssessment.Question}}</p>
          <div class="answer">
            <button>YES</button>
            <button>NO</button>
          </div>
        </div>
      </div>
    </li>

    <li class="active">
      <div class="collapsible-header">
        <p>Vehicle Checklist</p>
        <img src="assets/images/Jms_assets/ic_right_arrow.svg">
      </div>

      <!-- For All Cases -->
      <div class="collapsible-body">
        <div class="question" *ngFor="let postTripAssessment of postTripAssessmentQuestionList">
          <p>{{postTripAssessment.Question}}</p>
          <div class="answer">
            <button>YES</button>
            <button>NO</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<input  class="sumbitToInitiate" type="submit" value= "submit">
</form>
</div>
