@import "../sass/_globalStyles.scss";
@import "../sass/_variables.scss";
@import "../sass/_components.scss";
@import "../sass/_mixins.scss";

body{
    background-color: $mainBackGroundColor;
    font-size: 14px;
    font-family: lato;
}


@import "../sass/pages/_login.scss";
@import "../sass/pages/_forgotPassword.scss";
@import "../sass/pages/_newPassword.scss";
@import "../sass/pages/_homePage.scss";
@import "../sass/pages/_driverSelection.scss";
@import "../sass/pages/_initiateJourney.scss"