<!--start journeyApproval Section-->
<div class="mobileContainer journeyApproval">
    <h2 class="text-center mainHeadSection">Journey</h2>
    <ul class="collapsible expandable">
        <li class="active">
            <div class="collapsible-header">
                <p>Journey Details</p>
                <img src="assets/images/Jms_assets/ic_right_arrow.svg">
            </div>
            <div class="collapsible-body">
                <div class="detail">
                    <h3>Title: </h3>
                    <p>{{journey.data.title}}</p>
                </div>
                <div class="detail">
                    <img src="assets/images/Jms_assets/ic_pin.svg">
                    <h3>Destination From: </h3>
                    <p>{{journey.data.fromDestination}}</p>
                </div>
                <div class="detail">
                    <img src="assets/images/Jms_assets/ic_pin.svg">
                    <h3>Destination To: </h3>
                    <p>{{journey.data.toDestination}}</p>
                </div>
                <div class="detail">
                    <img src="assets/images/Jms_assets/ic_calendar.svg">
                    <h3>Date Of Delivery: </h3>
                    <p>{{journey.data.deliveryDate | date:'dd/MM/yyyy' }}</p>
                </div>

                <div class="detail">
                    <img src="assets/images/Jms_assets/ic_driver_black.svg">
                    <h3>Status: </h3>
                    <p>{{getGourneyStatus(journey.data.journeyStatus)}}</p>
                </div>
                <div class="detail" *ngIf='journey.data.journeyStatus==7'>
                    <img src="assets/images/Jms_assets/ic_driver_black.svg">
                    <h3>Reject Reason: </h3>
                    <p>{{journey.data.recjectReason}}</p>
                </div>
                <div class="detail" *ngIf='journey.data.journeyStatus==18'>
                    <img src="assets/images/Jms_assets/ic_driver_black.svg">
                    <h3>Driver Close Reason: </h3>
                    <p>{{journey.data.closeReason}}</p>
                </div>

                
                <div class="detail">
                    <img src="assets/images/Jms_assets/ic_driver_black.svg">
                    <h3>Driver: </h3>
                    <p>{{journey.data.driverName}}</p>
                </div>
                <div class="detail">
                   
                    <h3>Risk Status: </h3>
                    <p *ngIf="!showSelectRiskStatusAndDrivernight()">{{getRiskStatus(journey.data.riskStatus)}}</p>
                    <br />
                    <div *ngIf="showSelectRiskStatusAndDrivernight()">
                    <input style="position: relative;opacity: 1;pointer-events: visible;"  value="0" type="radio" name="rskSt"  [(ngModel)]="journey.data.riskStatus" >Low<br />
                    <input style="position: relative;opacity: 1;pointer-events: visible;"  value="1" type="radio" name="rskSt"  [(ngModel)]="journey.data.riskStatus" >Meduim<br />
                    <input style="position: relative;opacity: 1;pointer-events: visible;"  value="2" type="radio" name="rskSt"  [(ngModel)]="journey.data.riskStatus" >High<br />
                </div>
                </div>
                <div class="detail">
                    <input style="position: relative;opacity: 1;pointer-events: visible;" [disabled]="!showSelectRiskStatusAndDrivernight()"  type="checkbox" name="vehicle1" value="true"  [(ngModel)]="journey.data.isNight" >Is Night Driving<br>
                </div>
            </div>
        </li>

        <li class="active">
            <div class="collapsible-header">
                <p>Cargo Details</p>
                <img src="assets/images/Jms_assets/ic_right_arrow.svg">
            </div>
            <div class="collapsible-body">
                <div class="detail">

                    <h3>Cargo Type: </h3>
                    <p>{{journey.data.cargoType}}</p>
                </div>
                <div class="detail">
                    <h3>Weight: </h3>
                    <p>{{journey.data.cargoWeight}} KG</p>
                </div>
                <div class="detail">
                    <h3>Priority Degree: </h3>
                    <p>{{getLevelStatus(journey.data.cargoPriority)}} </p>
                </div>
                <div class="detail">
                    <h3>Severity Degree: </h3>
                    <p>{{getLevelStatus(journey.data.cargoSeverity)}} </p>
                </div>
            </div>
        </li>

        <li class="active" *ngIf="showDriverAssessment()">
            <div class="collapsible-header">
                <p>Driver Assessment</p>
                <img src="assets/images/Jms_assets/ic_right_arrow.svg">
            </div>
            <div class="collapsible-body drivAss">
                <div class="detail" *ngFor="let item of PretripAssessmeent">
                    <div class="row">
                        <div class="col-9">
                            <p>
                                {{item.question}}
                            </p>
                        </div>
                        <div class="col-3">
                            <button *ngIf='item.assessmentResult.length>0&&item.assessmentResult[0].isYes' class="yes" disabled>
                                YES
                            </button>
                            <button *ngIf='item.assessmentResult.length>0&&!item.assessmentResult[0].isYes' class="no" disabled>
                                NO
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="active" *ngIf="showCheckPoint()">
                <div class="collapsible-header">
                    <p>Checkpoint Assessment</p>
                    <img src="assets/images/Jms_assets/ic_right_arrow.svg">
                </div>
                <div class="collapsible-body drivAss">
                    <div class="detail" *ngFor="let item of CheckPointAssessment">
                        <div class="row">
                            <div class="col-9">
                                <p>
                                    {{item.question}}
                                </p>
                            </div>
                            <div class="col-3">
                                <button *ngIf='item.assessmentResult.length>0&&item.assessmentResult[0].isYes' class="yes" disabled>
                                    YES
                                </button>
                                <button *ngIf='item.assessmentResult.length>0&&!item.assessmentResult[0].isYes' class="no" disabled>
                                    NO
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="active" *ngIf="showpostTrip()">
                    <div class="collapsible-header">
                        <p>Pos Trip Assessment</p>
                        <img src="assets/images/Jms_assets/ic_right_arrow.svg">
                    </div>
                    <div class="collapsible-body drivAss">
                        <div class="detail" *ngFor="let item of PosTripAssessment">
                            <div class="row">
                                <div class="col-9">
                                    <p>
                                        {{item.question}}
                                    </p>
                                </div>
                                <div class="col-3">
                                    <button *ngIf='item.assessmentResult.length>0&&item.assessmentResult[0].isYes' class="yes" disabled>
                                        YES
                                    </button>
                                    <button *ngIf='item.assessmentResult.length>0&&!item.assessmentResult[0].isYes' class="no" disabled>
                                        NO
                                    </button>
                                </div>
                            </div>
                        </div> 
                    </div>
                </li>
        <li class="active" *ngIf="showVechileCheckList()">
            <div class="collapsible-header">
                <p>Vehicle Checklist</p>
                <img src="assets/images/Jms_assets/ic_right_arrow.svg">
            </div>
            <div class="collapsible-body drivAss">
                <div class="detail" *ngFor="let item of  VechileCheckList">
                    <div class="row">
                        <div class="col-9">
                            <p>
                                {{item.question}}
                            </p>
                        </div>
                        <div class="col-3">
                            <button *ngIf='item.assessmentResult.length>0&&item.assessmentResult[0].isYes' class="yes" disabled>
                                YES
                            </button>
                            <button *ngIf='item.assessmentResult.length>0&&!item.assessmentResult[0].isYes' class="no" disabled>
                                NO
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="row" *ngIf="showDriverAssessment()">
        <div class="col-4">
            <button class="sumbitToInitiate " (click)="approveDriver()">
                Accept Driver
            </button>
        </div>
        <div class="col-4">
            <button class="changeDriver" (click)="changeDriver()">
                Change Driver
            </button>
        </div>
        <div class="col-4">
            <button class="changeDriver" (click)="RejectJourney()" style="background-color:red;">
                Reject Journey
            </button>
        </div>
        
    </div>

    <div class="row" *ngIf="showApprove()">

        <div class="col-12">
            <button class="sumbitToInitiate" (click)="approve()">
                Approve
            </button>
        </div>
    </div>
    
    
</div>

<div class="col-4 modalAndBtnCont">
    <!-- Button trigger modal -->
    <button style="display: none;" type="button" id="modalReason" class="btn btn-primary modalTrigger sendAlert" data-toggle="modal"
        data-target="#exampleModal2">
    </button>
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Write your reason</h5>
                    <button id="closeAlert" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea class="form-control" [(ngModel)]='alertMessage' placeholder="Reson ..."></textarea>
                 </div>
                 <div class="modal-footer">
                     <button  (click)="sendAlert()" type="button" class="sumbitToInitiate" >Reject</button>
                 </div>
            </div>
        </div>
    </div>
</div>