<!--start requests Cards-->
<div class="mobileContainer">

  <div class="myRequestsComp">
    <div class="request">
      <h3>Kuwait to dubai</h3>
      <div class="info">
        <h6>Next Checkpoint</h6>
        <p>Nasr City Road, Cairo</p>
      </div>
      <div class="info">
        <h6>Time</h6>
        <p>April 28, 2019 &nbsp; <span>14:36</span></p>
      </div>
      <button class="mainButtonStyle">
        Complete Journey Info
      </button>
    </div>
  </div>

  <div class="myRequestsComp">
    <div class="request">
      <h3>Kuwait to dubai</h3>
      <div class="info">
        <h6>Next Checkpoint</h6>
        <p>Nasr City Road, Cairo</p>
      </div>
      <div class="info">
        <h6>Time</h6>
        <p>April 28, 2019 &nbsp; <span>14:36</span></p>
      </div>
      <button class="mainButtonStyle">
        Complete Journey Info
      </button>
    </div>
  </div>

  <div class="myRequestsComp">
    <div class="request">
      <h3>Kuwait to dubai</h3>
      <div class="info">
        <h6>Next Checkpoint</h6>
        <p>Nasr City Road, Cairo</p>
      </div>
      <div class="info">
        <h6>Time</h6>
        <p>April 28, 2019 &nbsp; <span>14:36</span></p>
      </div>
      <button class="mainButtonStyle">
        Complete Journey Info
      </button>
    </div>
  </div>
</div>
<!--end requests Cards-->
