#forgotPasswordFormSection{
    margin-top: 120px;
    padding: 0 30px;
}

#forgotPasswordFormSection .forgotPasswordPolicy{
    margin: 40px 0 20px 0;
    text-align: left;
    color: $darkGreyFontsColor;
    font-size: 13px;
}