
#loginFormSection{
    margin-top: 120px;
    padding: 0 30px;
}
#loginFormSection .resetPassword{
    margin-top:30px ;
}
#loginFormSection .resetPassword a{
    color: #016FAE;
    font-size: 15px;
    font-weight: 600;
}