<!--start Map Section-->
<div class="mobileContainer">
    <div class="myJourneyMap" style="background-color: #DDD;">
        Map
    </div>
</div>
<!--end Map Section-->
<!--start title section-->
<app-journey-info></app-journey-info>
<!--end title section-->
<div class="mobileContainer">
    <section class="driverAndTripInfo">
        <div class="nameAndDestination">
            <h3>Mosaad Osamy</h3>
            <p>Kuwit City To Dubai City</p>
        </div>
        <div class="teamAndPassengers">
            <div class="row">
                <div class="col-4 key">
                    TEAM
                </div>
                <div class="col-8 val">
                    Customer Solution
                </div>
            </div>
            <div class="row">
                <div class="col-4 key">
                    Passenger
                </div>
                <div class="col-8 val">
                    None
                </div>
            </div>
        </div>
        <ul class="journeyInfo">
            <li>
                <div class="info">
                    <h4>Kuwit City</h4>
                    <p>26TH SEP 14:36</p>
                </div>
                <button class="notActive" disabled>
                    checked-in
                </button>
            </li>
            <li class="infoWithNoDesc">
                <div class="info">
                    <h4>Flying Commercial</h4>
                </div>
            </li>
            <li>
                <div class="info">
                    <h4>Cairo City</h4>
                    <p>26TH SEP 14:36</p>
                </div>
                <button>
                    check-in
                </button>
            </li>
            <li class="infoWithNoDesc"> 
                <div class="info">
                    <h4>Driver</h4>
                </div>
            </li>
            <li>
                <div class="info">
                    <h4>Dubai City</h4>
                    <p>26TH SEP 14:36</p>
                </div>
                <button>
                    check-in
                </button>
            </li>
        </ul>
    </section>
</div>

<div class="mobileContainer">
    <section class="cheackInSection">
        <div class=" infoAndCheckCont">
            <div class="row">
                <div class="col-8 info">
                    <h3>Check In - <span>Cairo City</span></h3>
                    <p>Mohamed Sedky Soliman 3, Al Agouz, Giza, Egypt.</p>
                </div>
                <div class="col-4">
                    <button class="checkInBtn">
                        <img src="assets/images/assets_icons/iconlocationon.svg">
                        <p>Check-in Point</p>
                    </button>
                </div>
            </div>
        </div>
        <div class="buttonsAndPopUpsCont">
            
            <div class="row">
                <div class="col-4 modalAndBtnCont">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary modalTrigger sendLocation" data-toggle="modal"
                        data-target="#exampleModal">
                        <img src="assets/images/assets_icons/ic_pin.svg">
                        <p>Send Location</p>
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-4 modalAndBtnCont">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary modalTrigger statusMessages" data-toggle="modal"
                        data-target="#exampleModal">
                        <img src="assets/images/assets_icons/ic_status.svg">
                        <p>Status Messages</p>
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-4 modalAndBtnCont">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary modalTrigger sendAlert" data-toggle="modal"
                        data-target="#exampleModal">
                        <img src="assets/images/assets_icons/ic_alert.svg">
                        <p>Send Alert</p>
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-4 modalAndBtnCont">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary modalTrigger callPhone" data-toggle="modal"
                        data-target="#exampleModal">
                        <img src="assets/images/assets_icons/ic_call.svg">
                        <p>Call Center</p>
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-4 modalAndBtnCont">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary modalTrigger pauseJourney" data-toggle="modal"
                        data-target="#exampleModal">
                        <img src="assets/images/assets_icons/ic_pause.svg">
                        <p>Pause Journey</p>
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-4 modalAndBtnCont">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary modalTrigger closeJourney" data-toggle="modal"
                        data-target="#exampleModal">
                        <img src="assets/images/assets_icons/ic_close.svg">
                        <p>Close Journey</p>
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
