<!--start Map Section-->
<!-- <div class="mobileContainer">
    <div class="myJourneyMap" style="background-color: #DDD;">
        Map
    </div>
</div> -->
<!--end Map Section-->
<!--start title section-->
<app-journey-info></app-journey-info>
<!--end title section-->
<div class="mobileContainer">
    <section class="driverAndTripInfo">
        <!-- <div class="nameAndDestination">
            <h3>Mosaad Osamy</h3>
            <p>Kuwit City To Dubai City</p>
        </div> -->
        <!-- <div class="teamAndPassengers">
            <div class="row">
                <div class="col-4 key">
                    TEAM
                </div>
                <div class="col-8 val">
                    Customer Solution
                </div>
            </div>
            <div class="row">
                <div class="col-4 key">
                    Passenger
                </div>
                <div class="col-8 val">
                    None
                </div>
            </div>
        </div> -->
        <ul class="journeyInfo">
            <li *ngFor="let item of CheckPoints" style="border-bottom: 1px solid #e7e0e0;padding: 5px;">
                <div class="info">
                    <h4>{{item.checkpoint.name}}</h4>
                </div>
                <button class="notActive" disabled *ngIf="showCheckedInButton(item)">
                    checked-in
                </button>
                <button *ngIf="showCheckinButton(item)" (click)="checkin(item)">
                    check-in
                </button>
            </li>
        </ul>
        <button (click)="startJourney()" *ngIf="showStartJourney()" type="button" [disabled]="loading" class="sumbitToInitiate">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Start Journey
        </button>
    </section>
</div>

<div class="mobileContainer" *ngIf="!showStartJourney()">
    <section class="cheackInSection text-center">
        <div class=" infoAndCheckCont">
            <div class="row">
                <div class="col-8 info">
                    <h3>Check In - <span>City</span></h3>
                    <p>{{currentCheckPoint.name}}</p>
                </div>
                <!-- <div class="col-4">
                    <button class="checkInBtn">
                        <img src="assets/images/assets_icons/iconlocationon.svg">
                        <p>Check-in Point</p>
                    </button>
                </div> -->
            </div>
        </div>
        <div class="buttonsAndPopUpsCont">
            
            <div class="row">
                <div class="col-4 modalAndBtnCont">
                    <!-- Button trigger modal -->
                    <button (click)="setCurrentLocation()" type="button" class="btn btn-primary modalTrigger sendLocation" data-toggle="modal"
                        data-target="#exampleModal">
                        <img src="assets/images/assets_icons/ic_pin.svg">
                        <p>Send Location</p>
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Send Location</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <agm-map 
                                    [latitude]="latitude" 
                                    [longitude]="longitude" 
                                    [zoom]="zoom" >
                                      <agm-marker 
                                      [latitude]="latitude" 
                                      [longitude]="longitude"></agm-marker>
                                    </agm-map>
                                    <p style="text-align:left">your location: {{address}}</p>
                                </div>
                                <div class="modal-footer">
                                  
                                    <button (click)="sendLocation()" type="button" class="sumbitToInitiate" >Send Location</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-4 modalAndBtnCont">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary modalTrigger statusMessages" data-toggle="modal"
                        data-target="#exampleModal1">
                        <img src="assets/images/assets_icons/ic_status.svg">
                        <p>Status Messages</p>
                    </button>
                    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Status Message</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                   <textarea class="form-control" [(ngModel)]='statusMessage' placeholder="Status Message ..."></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button  (click)="sendMessage()" type="button" class="sumbitToInitiate" >Send Message</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-4 modalAndBtnCont">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary modalTrigger sendAlert" data-toggle="modal"
                        data-target="#exampleModal2">
                        <img src="assets/images/assets_icons/ic_alert.svg">
                        <p>Send Alert</p>
                    </button>
                    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Send Alert</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <textarea class="form-control" [(ngModel)]='alertMessage' placeholder="Alert ..."></textarea>
                                 </div>
                                 <div class="modal-footer">
                                     <button  (click)="sendAlert()" type="button" class="sumbitToInitiate" >Send Alert</button>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-4 modalAndBtnCont">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary modalTrigger callPhone" data-toggle="modal"
                        data-target="#exampleModal3">
                        <img src="assets/images/assets_icons/ic_call.svg">
                        <p>Call Center</p>
                    </button>
                    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Call Center</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                   <div style="text-align: center;border:1px solid;padding:5px;border-radius:5px;">19022</div>
                                </div>
                                <div class="modal-footer">
                                        <a href="tel:19022" class="sumbitToInitiate">Call Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 modalAndBtnCont" style="display:none">
                    <!-- Button trigger modal -->
                    <button (click)="PauseJourney()" type="button" class="btn btn-primary modalTrigger pauseJourney" 
                        >
                        <img src="assets/images/assets_icons/ic_pause.svg">
                        <p>Pause Journey</p>
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-4 modalAndBtnCont" style="display:none">
                    <!-- Button trigger modal -->
                    <button (click)="CloseJourney()" type="button" class="btn btn-primary modalTrigger closeJourney" 
                       >
                        <img src="assets/images/assets_icons/ic_close.svg">
                        <p>Close Journey</p>
                    </button>
                    <div style="background: transparent!important;
                    height: 100%!important;max-height:100%!important" class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
