<div class="mobileContainer initiateJourney">
  <h2 class="text-center mainHeadSection">Initiate Journey</h2>

  <form #initJourneyForm="ngForm" ngNativeValidate>
    <div class="initiateJourney">
      <ul class="collapsible expandable">
        <!--start Journey Details Section-->
        <li class="active">
          <div class="collapsible-header">
            <p>Joureny Details</p>
            <img src="../../assets/images/Jms_assets/ic_right_arrow.svg">
          </div>
          <div class="collapsible-body">
            <div class="input-group mainInputComp">
              <!-- Journey Title -->
              <input type="text" class="form-control" placeholder="Title*" name="journeyTitle" #journeyTitle="ngModel"
                [(ngModel)]="journey.title" required>
            </div>
            <div *ngIf="journeyTitle.invalid && (journeyTitle.dirty || journeyTitle.touched)"
              class="alert alert-danger customAlert">
              <div *ngIf="journeyTitle.errors.required">Please Enter Journey Title</div>
            </div>
            <div class="input-group mainInputComp">
              <!-- From Distination -->
              <input type="text" class="form-control" placeholder="Journey From*" autocorrect="off" autocapitalize="off"
                spellcheck="false" name="fromDestination" required #fromDestinationInput="ngModel"
                [(ngModel)]="journey.fromDestination">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <img src="../../assets/images/Jms_assets/ic_pin.svg">
                </span>
              </div>
            </div>
            <div *ngIf="fromDestinationInput.invalid && (fromDestinationInput.dirty || fromDestinationInput.touched)"
              class="alert alert-danger customAlert">
              <div *ngIf="fromDestinationInput.errors.required">Please Enter Journey From Destination</div>
            </div>
            <div class="input-group mainInputComp" [hidden]="!journey.fromDestination">
              <!-- To Distination -->
              <input type="text" class="form-control bgLight" placeholder="Journey To*" autocorrect="off"
                autocapitalize="off" spellcheck="false" name="toDestination" #toDestinationInput="ngModel" required
                [(ngModel)]="journey.toDestination">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <img src="../../assets/images/Jms_assets/ic_pin.svg">
                </span>
              </div>
            </div>
            <div *ngIf="toDestinationInput.invalid && (toDestinationInput.dirty || toDestinationInput.touched)"
              class="alert alert-danger customAlert">
              <div *ngIf="toDestinationInput.errors.required">Please Enter Journey To Destination</div>
            </div>

            <section class="initiateJourneyMap">
              <!-- Map -->
              <div class="map" style="height: 400px;">
                <agm-map [latitude]="defaultLat" [longitude]="defaultLng" [zoom]="6">
                  <div *ngIf="fromDestination && toDestination">
                    <agm-direction [origin]="fromDestination" [destination]="toDestination" [waypoints]="waypoints"
                      [optimizeWaypoints]="false">
                      <!--[renderOptions]="renderOptions" [markerOptions]="markerOptions" (onChange)="markerChanged($event)"-->
                    </agm-direction>
                  </div>
                </agm-map>
              </div>

              <!-- Add Checkpoint Input -->
              <div class="autoCompLocations" [hidden]="!journey.fromDestination && !journey.toDestination">
                <h4 class="text-center mainHeadSection">Checkpoints</h4>
                <div class="input-group mainInputComp">
                  <input type="text" class="form-control" placeholder="Enter Checkpoint Address" autocorrect="off"
                    autocapitalize="off" spellcheck="false" name="checkpointAddress" #checkpointAddressInput
                    [(ngModel)]="selectedCheckpoint.name">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <img src="../../assets/images/Jms_assets/ic_pin.svg">
                    </span>
                  </div>
                </div>

                <!--Draggable Checkpoints
                {{waypoints|json}}
                <br />
                {{journey.checkpoints|json}}-->
                <div cdkDropList *ngIf="waypoints.length>0" class="example-list"
                  (cdkDropListDropped)="reArrangeCheckpoints($event)">
                  <span *ngIf="waypoints.length>1">Drag and Drop to Reorder</span>
                  <div *ngFor="let checkpoint of journey.checkpoints">
                    <div class="example-box" *ngIf="!checkpoint.isFromOrTo" cdkDrag>
                      {{checkpoint.name}}
                      <a (click)="deleteCheckpoint(checkpoint.latitude,checkpoint.longitude)"
                        href="javascript:void(0);">X</a>
                    </div>
                  </div>
                </div>

              </div>
            </section>

            <div class="input-group mainInputComp">
              <input type="text" bsDatepicker class="form-control bgLight" placeholder="Delivery Date*"
                name="deliveryDate" #deliveryDate="ngModel" required [(ngModel)]="journey.deliveryDate"
                [minDate]="minDate">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <img src="../../assets/images/Jms_assets/ic_calendar.svg">
                </span>
              </div>
            </div>
            <div *ngIf="deliveryDate.invalid && (deliveryDate.dirty || deliveryDate.touched)"
              class="alert alert-danger customAlert">
              <div *ngIf="deliveryDate.errors.required">Please Enter Delivery Date</div>
            </div>
            <!-- Transport Type -->
            <div class="radioButtonsGroup">
              <p>Transport Type :</p>
              <div class="radioButtonsGroupCon">
                <div>
                  <label>
                    <input type="radio" [value]="true" name="isTruckTransport" [(ngModel)]="journey.isTruckTransport" />
                    <span>Trucks & Goods</span>
                  </label>
                </div>
                <div>
                  <label (change)="journey.cargoWeight=''">
                    <input type="radio" [value]="false" name="isTruckTransport"
                      [(ngModel)]="journey.isTruckTransport" />
                    <span>People</span>
                  </label>
                </div>
              </div>
            </div>

            <!-- Is Third Party -->
            <div class="radioButtonsGroup">
              <p>Is It Company Vehicle?</p>
              <div class="radioButtonsGroupCon">
                <div>
                  <label>
                    <input type="radio" [value]="false" name="isThirdParty" [(ngModel)]="journey.isThirdParty" />
                    <span>Yes</span>
                  </label>
                </div>
                <div>
                  <label (change)="journey.dispatcherId=''">
                    <input type="radio" [value]="true" name="isThirdParty" [(ngModel)]="journey.isThirdParty" />
                    <span>No</span>
                  </label>
                </div>
              </div>
            </div>
            <!--DispatcherId-->
            <div class="input-group mainInputComp" *ngIf="journey.isThirdParty">
              <p>Dispatcher</p>
              <select class="custom-select d-block w-100" id="drpDispatchers" name="drpDispatchers" required
                #drpDispatchers="ngModel" [(ngModel)]="journey.dispatcherId">
                <option value="" selected disabled>Select Dispatcher</option>
                <option *ngFor="let dispatcher of dispatchers" [value]="dispatcher.id">
                  {{dispatcher.value}}
                </option>
              </select>
              <div *ngIf="drpDispatchers.invalid && (drpDispatchers.dirty || drpDispatchers.touched)"
                class="alert alert-danger customAlert">
                <div *ngIf="drpDispatchers.errors.required">Please Select Dispatcher</div>
              </div>
            </div>
          </div>
        </li>
        <!--end Journey Details Section-->
        <!--start Cargo Details Section-->
        <li class="active">
          <div class="collapsible-header">
            <p>Cargo Details</p>
            <img src="../../../assets/images/Jms_assets/ic_right_arrow.svg">
          </div>
          <div class="collapsible-body">
            <div class="input-group mainInputComp">
              <input type="text" class="form-control" placeholder="Type*" aria-label="Type" name="cargoType"
                #cargoType="ngModel" required [(ngModel)]="journey.cargoType">
            </div>
            <div *ngIf="cargoType.invalid && (cargoType.dirty || cargoType.touched)"
              class="alert alert-danger customAlert">
              <div *ngIf="cargoType.errors.required">Please Enter Cargo Typer</div>
            </div>
            <div *ngIf="journey.isTruckTransport">
              <div class="input-group mainInputComp">
                <input type="number" class="form-control" placeholder="Weight*" aria-label="Weight" name="cargoWeight"
                  [min]="1" [max]="99999999999999" #cargoWeight="ngModel" required [(ngModel)]="journey.cargoWeight">
              </div>
              <div *ngIf="cargoWeight.invalid && (cargoWeight.dirty || cargoWeight.touched)"
                class="alert alert-danger customAlert">
                <div *ngIf="cargoWeight.errors.required">Please Enter Cargo Weight</div>
              </div>
            </div>
            <div class="radioButtonsGroup">
              <p>Priority Degree :</p>

              <div class="radioButtonsGroupCon">
                <div>
                  <label>
                    <input [value]="0" type="radio" name="cargoPriority" [(ngModel)]="journey.cargoPriority" />
                    <span>Low</span>
                  </label>
                </div>
                <div>
                  <label>
                    <input [value]="1" type="radio" name="cargoPriority" [(ngModel)]="journey.cargoPriority" />
                    <span>Medium</span>
                  </label>
                </div>
                <div>
                  <label>
                    <input [value]="2" type="radio" name="cargoPriority" [(ngModel)]="journey.cargoPriority" />
                    <span>High</span>
                  </label>
                </div>
              </div>
            </div>

            <div class="radioButtonsGroup">
              <p>Severity Degree :</p>
              <div class="radioButtonsGroupCon">
                <div>
                  <label>
                    <input [value]="0" type="radio" name="cargoSeverity" [(ngModel)]="journey.cargoSeverity" />
                    <span>Low</span>
                  </label>
                </div>
                <div>
                  <label>
                    <input [value]="1" type="radio" name="cargoSeverity" [(ngModel)]="journey.cargoSeverity" />
                    <span>Medium</span>
                  </label>
                </div>
                <div>
                  <label>
                    <input [value]="2" type="radio" name="cargoSeverity" [(ngModel)]="journey.cargoSeverity" />
                    <span>HIgh</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </li>
        <!--end Cargo Details Section-->
      </ul>

      <button class="sumbitToInitiate" (click)="submitForm(initJourneyForm)">
        Submit Journey
      </button>

      <!--<pre>{{journey | json}}</pre>-->

    </div>

  </form>

</div>